<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">

                <h1 class="m-0 text-dark">Titulo</h1>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                @*contenido*@

            </div>
        </div>
    </div>
</div>