@{ 
    Layout = null;
}
<h1>Lista Ajuste Razonable</h1>
<button class="btn btn-success" data-toggle="modal" data-target="#ModalGuardar" onclick="AgregarAjuste();">Agregar Ajuste Razonable</button>
<section scripts>
    <script src="~/Scripts/Estudiante/ListaAjusteRazonable.js"></script>
</section>