@model SistemaEducativo.Models.Estudiante.ObjEstudiante
@{
    ViewBag.Title = "New";
    Layout = null;
}
<div class="row">
    <div class="col col-12">
        <div class="card">
            <div class="card-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title">Nuevo Estudiante</h1>
            </div>
            <div class="card-body">

                <div id="contenedorMensaje" style="display: none">
                    <div id="TipoMensaje" class="alert alert-success" role="alert">
                        <h4 id="TituloMensaje" class="alert-heading">Well done!</h4>
                        <div id="CuerpoMensaje"></div>
                        
                    </div>
                </div>
                <form id="FormsNew" action="/Estudiante/Edit" method="post">
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <input id="CmpId" name="Id" hidden />
                                <label for="CmpTipoDocumentoIdentidad">Tipo de Documento</label>
                                <select id="CmpTipoDocumentoIdentidad" name="TipoDocumentoIdentidad" class="form-control" onchange="verificarEstudiante();">
                                    @{
                                        var TipoDocumento = ViewData["TipoDocumento"] as List<SistemaEducativo.Models.Constantes.ObjTipoDocumento>;
                                        foreach (var Item in TipoDocumento)
                                        {
                                            <option value=@Item.Tipo> @Item.Desc_Tipo </option>
                                        }
                                    }
                                </select>
                                <small id="CmpTipoDocumentoIdentidadHelp">Selecione su tipo de Documento</small>
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                
                                <label for="CmpDocumentoIdentidad">Documento</label>
                                <input id="CmpDocumentoIdentidad" name="DocumentoIdentidad" class="form-control" onchange="verificarEstudiante();" />
                                <small id="CmpDocumentoIdentidadHelp">Registre su Documento</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpPrimerApellido">Primer Apellido</label>
                                <input id="CmpPrimerApellido" name="PrimerApellido" class="form-control" />
                                <small id="CmpPrimerApellidoHelp">Registre Primer Apellido</small>
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpSegundoApellido">Segundo Apellido</label>
                                <input id="CmpSegundoApellido" name="SegundoApellido" class="form-control" />
                                <small id="CmpSegundoApellidoHelp">Registre Segundo Apellido</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpPrimerNombre">Primer Nombre</label>
                                <input id="CmpPrimerNombre" name="PrimerNombre" class="form-control" />
                                <small id="CmpPrimerNombreHelp">Registre Primer Nombre</small>
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpSegundoNombre">Segundo Nombre</label>
                                <input id="CmpSegundoNombre" name="SegundoNombre" class="form-control" />
                                <small id="CmpSegundoNombreHelp">Registre Segundo Nombre</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpGenero">Genero</label>
                                <select id="CmpGenero" name="Genero" class="form-control">
                                    <option disabled="disabled">Selecciones una opción</option>
                                    @{
                                        var Generos = ViewData["Genero"] as List<SistemaEducativo.Models.Constantes.ObjGenero>;
                                        foreach (var Item in Generos)
                                        {
                                            <option value=@Item.Genero> @Item.Desc_Genero </option>
                                        }
                                    }
                                </select>
                                <small id="CmpGenero">Selecciones su genero</small>
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpFechaNacimiento">Fecha Nacimiento</label>
                                <div class="input-group date" data-target-input="nearest">
                                    <input type="date" id="CmpFechaNacimiento" name="FechaNacimiento" class="form-control" min="1900-01-01">
                                </div>
                                <small id="CmpIdSedeHelp">Ingrese su Fecha Nacimiento</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpIdInstitucion">Institución Educativa</label>
                                <select id="CmpIdInstitucion" name="IdInstitucion" class="form-control">
                                    <option value=1>San Luis Beltrán</option>
                                </select>
                                <small id="CmpIdInstitucionHelp">Selecione su Institución</small>
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpIdSede">Sede</label>
                                <select id="CmpIdSede" name="IdSede" class="form-control">
                                    @{
                                        var Sedes = ViewData["Sede"] as List<SistemaEducativo.Models.General.se>;
                                        foreach (var Item in Sedes)
                                        {
                                            <option value=@Item.Id> @Item.Nombre </option>
                                        }
                                    }
                                </select>
                                <small id="CmpIdSedeHelp">Seleccione su Jornada</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpIdJornada">Jordada</label>
                                <select id="CmpIdJornada" name="Jornada" class="form-control">
                                    @{
                                        var Jornadas = ViewData["Jornada"] as List<SistemaEducativo.Models.Constantes.ObjJornada>;
                                        foreach (var Item in Jornadas)
                                        {
                                            <option> @Item.Jornada </option>
                                        }
                                    }
                                </select>
                                <small id="CmpIdJornadaHelp">Seleccione su Jornada</small>
                            </div>
                        </div>
                        <div class="col col-md-6 col-12">
                            <div class="form-group">
                                <label for="CmpGrado">Grado</label>
                                <select id="CmpGrado" name="Grado" class="form-control">
                                    <option selected disabled>Seleccione una opción</option>
                                    <option>Primero</option>
                                    <option>Segundo</option>
                                    <option>Tercero</option>
                                    <option>Cuarto</option>
                                    <option>Quinto</option>
                                    <option>Sexto</option>
                                    <option>Septimo</option>
                                    <option>Octavo</option>
                                    <option>Noveno</option>
                                    <option>Decimo</option>
                                    <option>Once</option>
                                    <option>CLEI 3</option>
                                    <option>CLEI 4</option>
                                    <option>CLEI 5</option>
                                    <option>CLEI 6</option>
                                </select>
                                <small id="CmpGradoHelp">Selecione su Grado</small>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Guardar</button>
                        <button class="btn btn-danger" data-dismiss="modal"><i class="far fa-window-close"></i> Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section scripts>
    <script src="~/Scripts/Estudiante/New.js"></script>
</section>