@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/admin-lte/css/adminlte.min.css">
</head>
<body>
    <div class="container">
        <br />
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <div>
            <p>
                Compruebe el correo electrónico para restablecer la contraseña.
            </p>
        </div>
    </div>
</body>
</html>

